module "s3_lifecycle" {
  source      = "../../modules/s3-lifecycle"
  environment = "dev"
  common_tags = {
    Environment = "dev"
    Project     = "my-project"
  }
  bucket_name  = "dev-s3-bucket"
  region       = "us-west-2"
  account_id   = "123456789012"
  s3_bucket_versioning = true
  s3_bucket_server_side_encryption = true
  s3_bucket_block_public_access = true
  s3_bucket_lifecycle_enabled = true
  s3_bucket_lifecycle_expiration_days = 190
  s3_bucket_lifecycle_transition_days = 30
  s3_bucket_lifecycle_transition_storage_class = "STANDARD_IA"
  s3_bucket_lifecycle_glacier_transition_days = 60
  s3_bucket_lifecycle_glacier_transition_storage_class = "GLACIER"
}